@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.bg-first {
    background-color: #F6E300;
}

.bg-second {
    background-color: #0C0B0B;
}

.bg-third {
    background-color: #000A1A;
}


.first .box {
    padding: 24px 21px;
    border-radius: 20px;
    background: #FFF03F;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}

.second .box {
    padding: 24px 21px;
    border-radius: 20px;
    background: #1e1f21;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}

.first h1 {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second h1 {
    color: gold;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.third h1 {
    color: red;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first .accordion-items1 {
    width: 992px;
    border-radius: 5px;
    /* border: 1px solid red; */
    padding: 12px;
    cursor: pointer;
}

.second .accordion-items2 {
    width: 900px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 12px;
    cursor: pointer;
}

.third .accordion-items3 {
    width: 498px;
    border-radius: 5px;
    border: 1px solid red;
    padding: 12px;
    cursor: pointer;
}

.first h2 {
    color: var(--gray, #808080);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second h2 {
    color: var(--gray, white);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.third h2 {
    color:  #ad6e6e;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;
}

.first .active1 {
    border: transparent;

}

.second .active2 {
    border: 1px solid gold;

}

.third .active3 {
    border: 1px solid red;

}

.active1 p {
    display: block;

}
.active2 p {
    display: block;

}
.active3 p {
    display: block;

}

.first .active1 h2 {
    color: black;
}
.second .active2 h2 {
    color: gold;
}
.third .active3 h2 {
    color: red;
}

.first .active1 img {
    transform: rotate(180deg);
}
.second .active2 img {
    transform: rotate(90deg);
}
.third .active3 img {
    transform: rotate(200deg);
}